.feature {
  background-color: $lightGrayishBlue;
  text-align: center;

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__intro {
    margin-bottom: 3.75rem;

    @include breakpoint-up(large) {
      width: 60%;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
      gap: 1.875rem;
    }
  }

  &__item {
    @include breakpoint-up(medium) {
      width: calc((100% - 90px) / 2);
    }
    @include breakpoint-up(large) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__icon {
    margin-bottom: 1.875rem;

    @include breakpoint-up(large) {
      margin-bottom: 2.75rem;
    }
  }

  &__title {
    margin-bottom: 1rem;

    font-size: $font-lg;
    line-height: 1.15;
    font-weight: 300;
    color: $darkBlue;

    @include breakpoint-up(large) {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }
  }

  &__description {
    font-size: $font-sm;
    line-height: 1.5;
  }
}
